@import url("../gilroy/gilroy-thin/style.css");
@import url("../gilroy/gilroy-ultralight/style.css");
@import url("../gilroy/gilroy-light/style.css");
@import url("../gilroy/gilroy-regular/style.css");
@import url("../gilroy/gilroy-bold/style.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    font-weight: 400;
    line-height: normal;
}
body {
    width: 100%;
    background: #fff;
    display: block;
}

/*  */
.footer-boxes {
    gap: 5%;
}
.dropdown{
    position: relative;
    display: inline-block;
    transition: all 0.1s ease-in-out;
}
.dropbtn {
    color: white;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 45px;
    width: 45px;
    transition: all 0.1s ease-in-out;
}
.dropdown:hover .dropbtn {
    background-color: #ffffff;
    align-items: center;
    color: #62BC9E;
    justify-content: center;
    height: 45px;
    width: 45px;
    transition: all 0.1s ease-in-out;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    transition: all 0.1s ease-in-out;
}
.dropdown-content a {
    font-weight: 700;
    color: white;
    font-size: 16px;
    background: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: block;
    align-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    transition: all 0.1s ease-in-out;
}
.dropdown-content a:hover {
    background-color: #ffffff;
    color: #62BC9E;
}
.dropdown:hover .dropdown-content {
    display: block;
    transition: all 0.1s ease-in-out;
}

/*  */

/* --------- *\
  -PRELOADER-
\* --------- */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    z-index: 99999999999 !important;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: .5 ease-in-out;
}
#preloader.active {
    opacity: 0;
}
.preloader__gif {
    width: 70px;
}

.preloader__gif img {
    width: 100%;
    height: auto;
}

/* --------- */

a {
    text-decoration: none !important;
    /* color: #000 !important; */
}
.href-to-photo {
    margin-top: 41px;
    font-family: 'Gilroy';
    display: flex;
    width: 100%;
    text-align: right;
    padding-right: 3%;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    justify-content: flex-end;
    align-items: center;
    color: #000;
}
li {
    list-style: none;
}
.header-up li {
    display: flex;
    gap: 5%;
}

/* Carousel up */
.carousel-up-container {
    overflow: hidden;
    height: 55px;
} 
.carousel-up-text {
    display: flex;
    flex-direction: column;
    animation: scrollUp 15s linear infinite;
} 
.carousel-up-item{
    flex: 100% 0 0;
    height: 100%;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: transform 1s ease-in-out;
}
/*  */

/* Header */
.header {
    
}

.header__bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0.13) 54.17%, rgba(0, 0, 0, 0.70) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.about-back-box{
    position: relative;
    transition: transform 0.3s ease;    
}
/*  */

/* Header up */
.header-up {
    background-image: linear-gradient(90deg, #6946EC, #F8C88A, #6946ec);
    display: inline-flex;
    height: 55px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    flex-shrink: 0;
    align-content: center;
    color: #fff;
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}
.btn-course{
    font-family: "Gilroy";
    padding: 10px 25px;
    height: 45px;
    border-radius: 10px;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    background: #ffffff;
    color: #000000;
    cursor: pointer;
}

@keyframes gradient {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 100%;
	}
}
/*  */

/* Join btn */
.join-btn {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-decoration: underline !important;
    color: #fff !important;
    align-items: center;
}
.join-btn:hover {
    transition: all 3s ease-in-out infinite;
    transform: translateX(10px);
}
/*  */

/* Header bottom */
.header-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color:#FFFFFF;
    align-items: center;
    align-content: center;
    padding-top: 1%;
}
.header-box{
    width: 100%;
    height: 895px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/photo-bg.png);
    /* margin-bottom: 5%; */
    position: relative;
    z-index: 1;
}
/*  */

/* Navbar-active */
.navbar {
    display: none !important;
    color: #fff;
}
/*  */

/* Header links */
.head-link{
    height: 100%;
    margin-left: -125px;
}
.header-links {
    width: 150%;
    gap: 3%;
    display: flex;
    list-style: none;
    margin: 0;
    cursor: pointer;
    margin-left: 3rem;
    margin-right: 2rem;
}
.header-links li{
    font-family: "Gilroy";
    font-weight: 400;
    transition: all 0.1s ease-in-out;
    font-size: 16px;
    line-height: normal;
}

.header-links li:hover {
    color: #62BC9E;
    /* text-decoration: underline; */
}

.page-active {
    color: #62BC9E;
    text-decoration: underline;
    font-weight: 800;
}
/* .langs{
    height:45px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
    appearance: none;
    width: 45px;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
.langs:hover{
    height:45px;
    border-radius: 10px;
    background-color: #fff;
    text-decoration: underline;
    border: 2px solid #62BC9E;
    appearance: none;
    width: 45px;
    align-items: center;
    text-align: center;
    color: #62BC9E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.option {
    height:45px;
    border-radius: 10px;
    background-color: #fff;
    text-decoration: underline;
    border: 2px solid white;
    appearance: none;
    width: 45px;
    align-items: center;
    text-align: center;
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
} */
.btn {
    color: #000 !important;
}
.buttons {
    display: flex;
    margin-left: 5px;
}
.best-cources {
    margin-right: 20px;
}
.btn-telegram {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: #33333300;
    color: #FFF;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.5s ease-in-out;
}
.btn-telegram:hover {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: #ffffff;
    align-items: center;
    color: #000;
    font-weight: 400;
}
.btn-telegram:hover .btn-icon {
    width: 35px;
}
.btn-icon {
    width: 30px;
}
.main-container {
    height: calc(100% - 73px);
    display: flex;
}
.main-title {
    display: flex;
    width: 60%;
    margin-top: auto;
    margin-bottom: 20px;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    position: relative;
}
.main-title h1{
    font-size: 64px;
    font-family: 'Gilroy';
    font-weight: 700;
    line-height: normal;
    z-index: 2;
}
.shar {
    position: absolute;
    top: -11px;
    left: -27.5px;
}
.shar2 {
    position: absolute;
    top: 19%;
    left: 15%;
    z-index: 1;
    width: 60px;
}
/*  */

/* Bottoms */
.bottoms {
    display: flex;
    margin-top: -44%;
    margin-left:15%;
}
.btn-more {
    /* margin-bottom: 5%; */
    padding: 10px 25px;
    margin-left: 15px;
}
.course-box{
    border-radius: 20px;
    padding: 0% !important;
    transition: all 0.5s ease-in-out;
}
.course-box:hover {
    transform: translateY(-20px);
}
.location-logo {
    margin-left: 34%;
    margin-top: 22.5%;
    position: absolute;
}
li {
    color: white;   
}
.about-front-img {
    border-radius: 20px !important;
    position: relative;
    transition:0.3s linear;
}
.btn-course-more:hover {
    background-color:#62BC9E;
}
.btn-course-more:active {
    background-color: rgb(58, 255, 58);
}
.location-box {
    text-align: center;
    margin-top: 75px;
}
h5 {
    color:#62BC9E;
}
.location-bg-img {
    width: 97%;
    margin-left: 45px;
    z-index: 1;
}
.green-line {
    width: 91px;
    border: 2px solid #62BC9E;
    margin-left: 2px;
}
.btn-course-more {
    padding: 10px 25px 10px 25px;
    margin-top: 20px;
    background-color: #FFFFFF;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
    border: 2px solid #000;
    border-radius: 10px;
}
.course-img{
    width: 100%;
    border-radius: 20px !important;
}
.birinchi .course-img {
    width: 100%;
    margin-bottom: 5%;
    -webkit-box-shadow: 0px 50px 25px -50px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 50px 25px -50px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 50px 25px -50px rgba(0, 0, 0, 0.6);
}
.course-body {
    padding: 15px;
}
.course-body p {
    font-size: 16px;
    line-height: 150%;
}
.course-body h6 {
    font-size: 20px;
}
.course-body-text {
    height: 72px;
}
.section-cours {
    width: 100%;
    margin-top: 50px;
}   
.vertical-line {
    width: 4px;
    color: #000;
    background-color: #000;
    height: 30px;
    position: absolute;
    top: 5px;
}
.title-h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.section-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 22px;
}
.section-cours .grid {
    margin-top: 55px;
}
.fact-text {
    color: #838383;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.section-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.fact-item-number {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
    margin-bottom: 0px;
    height: 59px;
}
.fact-item-text {
    margin-left: 20px;
    font-size: 18px;
    line-height: 150%;
    margin-top: 10px;
}
.grid {
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 5%;
}
.img-banner {
    margin-top: 80px;
}
.mentr {
    margin-top: 8%;
    width: 110%;
    border-radius: 50px;
    margin-top: -2%;
    background-image: url("../img/komanda/w=1920;\ h=1080.jpg");
    height: 80vh;
    margin-left: -5%;
    box-shadow: 0px 18px 8px 0px rgba(0, 0, 0, 0.2);
    background-size: contain;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 110%;
    transition: background-size 1s ease-in-out;
}
.mentr:hover{
    background-size: 120%;
}
.section-mentor{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.section-mentor .section-title {
    margin-top: 20px;
    margin-bottom: 0;
}
.section-mentor .section-text {
    margin-top: 20px;
    margin-bottom: 0;
}
.fact-item {
    margin-bottom: 30px;
    position: relative;
}
.section-mentors-content {
    margin-top: 50px;
}
.mentor-carousel-item-title{
    padding: 6px 10px 6px 10px;
    border-radius: 20px;
    border: 2px;
    position: relative;
    background: #000000;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 10px;
}
.mentor-carousel{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    height: min-content;
    list-style-type: none;
	gap: 40px;
    position: relative;
}
.mentor-carousel-info {
    border-radius: 0px 0px 20px 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 58.74%, #000 90.97%);
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 40px;
    padding-bottom: 32px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.mentor-carousel-info h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}
.mentor-carousel-item h6{
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 12px;
}
.mentor-carousel::-webkit-scrollbar {
    display: none;
}   
.mentor-carousel-item{
    width: 300px;
    height: 80%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.mentor-carousel-item:hover {
    transform: translateY(-3%);
}
.mentor-carousel img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.mentor-item-title{
    padding: 6px 10px 6px 10px;
    border-radius: 20px;
    border: 2px;
    position: absolute;
    background: #000000;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 700;
}
.mentor-name{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF !important;
}
.bottom-green-line{
    width: 40px;
    position: absolute;
    height: 4px;
    background: #62BC9E;
}
.btn-more-mentor{
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    gap: 10px;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    transition: all 0.3s ease-in-out;
}
.btn-more-mentor:hover{
    background-color:#62BC9E ;
}
.btn-more-mentor:active{
    background-color: rgb(58, 255, 58);
}
.section-our-prise{
    width: 100%;
    margin-bottom: 10%;
}
.section-our-prise p {
    padding-bottom: 2%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.section-our-prise h5{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.grid-box-line{
    width: 4px;
    height: 23px;
    position: absolute;
    background: #000;
    left: 0;
    top: 4px;
}
.grid-box {
    position: relative;
}
.grid-box h4{
    margin-left: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
}
.grid-box p{
    margin-top: 17px;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.grid-3{
    width: 100%;
    display: grid;
    gap: 5%;
    grid-template-columns: 1fr 1fr 1fr;
}
.location-carousel {
    list-style-type: none;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    gap: 3rem;
    overflow-x: auto;
    margin-top: -9%;
    padding-left: 15% !important;
    padding-top: 5%;
    align-items: start;
}
.banner-box{
    width: 100%;
    position: relative;
    z-index: 2;
}
.location-carousel::-webkit-scrollbar {
    display: none;
}
.location-carousel img{
    border-radius: 20px;
    box-shadow: 0px 18px 8px 0px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 450px;
}
.location-carousel-item{
	scroll-snap-align: center;
    position: relative;
    transition: transform 0.3s ease;
    border-radius: 20px ;
}
.location-carousel-item:hover{
    transform: translateY(-10px);
}
.location-carousel-item h4{
    color: #000000;
    font-size: 24px;
    line-height: normal;
    font-weight: 400;
    text-align: start;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}
.location-img-title {
    width: 100%;
}
.location-carousel-item-title{
    padding: 10px 25px;
    border-radius: 20px;
    border: 2px;
    position: absolute;
    background: #000000;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    top: 21px;
    right: 21px;

}
.footer {
    margin-top: 110px;
}
.footer-boxes {
    width: 100%;
    margin-top: 90px;
}
.footer-boxes .grid {
    margin-bottom: 0;
    
}
.footer-p{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0px;
    border-bottom: 2px solid  #D9D9D9;
    padding-bottom: 11px;
}
.footer-box {
    margin-top: 30px;
}
.footer-box:first-child .footer-li:hover {
    background: rgba(0, 0, 0, 0.3);
}
.footer-box ul {
    margin-bottom: 0;
}
.footer-box a {
    display: flex;
    align-items: center;
    height: 30px;
    transition: .2s;
    border-radius: 5px;
}
.footer-box a:hover {
    background: rgba(0, 0, 0, 0.3);
}
.footer-box a:not(:last-child) {
    margin-bottom: 14px;
}
.footer-box a.first {
    margin-top: 30px;
}
.footer-li{
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 8px;
    transition: all 0.2s ease-in-out;
    color: #000;
    border-radius: 5px;
    padding-bottom: 4px;
    padding-top: 4px;
}
.footer-li:not(:last-child) {
    margin-bottom: 20px;
}
.footer-li ion-icon {
    font-size: 1.5em;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    padding: 3%;
}

.footer-li:hover .call-icon {
    color: rgb(255, 255, 255);
    background: #4CAF50;
}
.footer-li:hover .insta-icon {
    transition: all 0.5s ease-in-out;
    color: rgb(255, 255, 255);
    /* background: #c92bb7; */
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.footer-li:hover .face-icon {
    color: rgb(255, 255, 255);
    background: #3b5998;
}
.footer-li:hover .tg-icon {
    color: rgb(255, 255, 255);
    background: #229ED9;
}
.footer-li:hover .mail-icon {
    color: rgb(255, 255, 255);
    background: rgb(0, 140, 255);
}
.footer-img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.footer-text {
    font-size: 16px;
}
.footer-time {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
}
.footer-logo-imgs {
    display: flex;

}
.footer-logo-img-it {
    margin-left: 10px;
    width: 118.488px;
    height: 20px;
    margin-top: auto;
}
ul {
    padding-left: 0 !important;
}
.last-footer{
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 70px;
}
.last-footer p{
    font-size: 24px;
    color: #000;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-top: 18px;
}
.last-footer h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-left: 43px;
    max-width: 450px;
    width: 100%;
}
.last-footer h6{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.77px;
    max-width: 213px;
    width: 100%;
}
.last-footer h6 > b {
    font-weight: 700;
    text-decoration: underline;
}

/* Register */
.register-box{
    align-content: center;
    width: 110%;
    border-radius: 50px;
    height: auto;
    margin-top: -2%;
    background-image: url(../img/register/w=1920;\ h=10802.png);
    /* height: 580px; */
    margin-left: -5%;
    box-shadow: 0px 18px 8px 0px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-size 1s ease-in-out;
}
.register-box:hover{
    background-size: 110%;
}
.register-box .modal-dialog {
    margin-right: 0 !important;
}
label {
    color: #fff;
    font-size: 24px !important;
}
.register {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
}
.register-logo {
    margin: 2%;
}
.register-text {
    color: #62BC9E !important;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 2 !important;
    text-align: center;
}
.register-text-2 {
    color: #ffffff !important;
    text-align: center;
    font-size: 32px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 2 !important;
    text-align: center;
}
.col-form-label {
    color: #99999B;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.modal-body {
    width: 90%;
}
.modal-dialog {
    padding-top: 2.5% !important;
}
.modal-content {
    height: 100%;
    border-radius: 50px;
}
.modal-content .bg-white{
    border-radius: 20px !important;
    margin-right: 0% !important;
}
.succes-text {
    font-size: 24px;
}
.register-modal {
    align-items: center;
    width: 100% !important;
    font-weight: 700;
}
.form-control::placeholder {
    color: #777777 !important;
    font-size: 1em;
    font-weight: 400;
}
.form-control::-webkit-inner-spin-button, .form-control::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.form-control {
    padding: 0.5rem 0.5rem !important;
}
.col-form-label {
    color: #fff;
}
.modal {
    background: rgba(0, 0, 0, 0.5);
}
.modal-content {
    width: 100%;
    background: rgba(255, 255, 255, 0.0) !important;
    border: 1px solid rgba(255, 255, 255, 0) !important;
    border-radius: 20px !important;
    justify-content: center;
    align-content: center;
}
.modal-footer {
    border-top: 2px solid #62BC9E !important;
    display: block !important;
    align-items: center !important;
}
.form-control {
    border-radius: 10px !important;
    border: 1.5px solid #D9D9D9;
    background: #FFF;
    box-shadow: 2px 1.5px 4px 0px rgba(0, 0, 0, 0.15);
}
.register-button{
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    border: none;background-color: #62BC9E;
    color: #000000;
    border: 2.5px solid #62BC9E;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.register-button:hover {
    color: #62BC9E;
    background-color: #ffffff;
}
/* */

.group {
    position: relative;
}

.location__box {
    position: absolute;
    max-width: 541px;
    width: 100%;
    height: 235.428px;
    padding: 27px 45px;
    right: 180px;
    top: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 18px 8px 0px rgba(0, 0, 0, 0.2);
}

.location__box p {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.location-text {
    position: absolute;
    margin: 12% 5%;
    letter-spacing: 10px;
    transition: all 1s ease-in-out;
}

.location-h1 {
    color: rgba(206, 206, 206, 0.25);
    font-size: 96px;
    font-weight: 700;
}
.about-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5%;
    padding-top: 135px;
    padding-bottom: 75px;
    opacity: 0;
    animation: left-scroll 1.5s cubic-bezier(0.17, 0.97, 0.38, 1) forwards 300ms;
}
@keyframes left-scroll {
    0% { 
        clip-path: inset(0 100% 0 0);
        opacity: 0;
    }
    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}
.about-left-box {
    width: 140%;
}

.about-left-box h5 {
    font-size: 14px;
    font-family: 'Gilroy';
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
}

.about-left-box p {
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: justify;
}

.btn-more .text-center .d-flex {
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}
.about-right-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-title {
    font-family: 'Gilroy';
    font-size: 40px;
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 0;
}
.about-text {
    color: rgba(206, 206, 206, 0.25);
    font-family: 'Gilroy';
    font-size: 96px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 5%;
    transition: all 1s ease-in-out;
}
.about-box-text {
    width: 150%;
    /* margin-left: 20%; */
}
.about-front-box {
    z-index: 2;
}
.about-front-img {
    margin-left: 20%;
    height: 100%;
}
.about-right-box.is_active .about-back-box,
.about-right-box:hover .about-back-box { 
    transform: translatey(-8%);
    transition: .3s linear;
}
.about-right-box.is_active .href-to-photo,
.about-right-box:hover .href-to-photo {
    color: #62BC9E;
    transform: translateY(-10%);
    transition: .3s linear;
}
.about-right-box.is_active .transparent-text,
.about-right-box:hover .transparent-text {
    transform: translateX(20%);
    cursor: pointer;
    transition: .3s linear;
    /* color: #62bc9eb9; */
}
.about-right-box.is_active .about-front-img,
.about-right-box:hover .about-front-img {
    transform: translateY(20px);
    cursor: pointer;
    transition: .3s linear;
}
.about-front-img, .about-back-img, .transparent-text {
    transition: .3s linear;
    border-radius: 20px;
}
.about-back-img {

}
.btn-more {
    font-family: 'Gilroy';
    padding: 10px 25px 10px 25px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    background-color: #FFFFFF;
    transition: all 0.2s ease-in-out;
    margin-top: 50px;
    border: 2px solid #000;
    border-radius: 10px;
}
.btn-more:hover {
    background-color:#62BC9E ;
}
.btn-course-more:hover {
    background-color:#62BC9E ;
}
.btn-course-more:active {
    background-color: rgb(58, 255, 58);
}
.banner {
    margin-top: 80px;
    padding: 50px 0;
    width: 100%;
    background-image: url("../img/DSC_6366\ 1\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0.13) 54.17%, rgba(0, 0, 0, 0.70) 100%);
    z-index: 1;
}
.banner-box p {
    color: white;
    font-size: 20px;
    line-height: 150%;
    margin-top: 20px;
}
.banner-textbox {
    max-width: 684px;
    width: 100%;
}
.white-title {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 0;
}
.green-title {
    color: #62BC9E;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}
.course-container {
    margin-top: 60px;
    padding: 0;
}
.section-location {
    margin-top: 5%;
}
.location-box h5 {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.location-box .about-title {
    max-width: 515px;
    width: 100%;
}

.location-box h6 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    max-width: 522px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

/* Media */
@media (max-width: 600px) {
    .container {
        padding: 0 5%;
    }
    .about-container {
        padding-bottom: 75px;
    }
    .grid {
        grid-template-columns: 1fr 1fr !important;
        /* margin-bottom: 30% !important; */
    }
    .row {
        grid-template-columns: 1fr !important;
        margin-bottom: 1%;
    }

}
/* @media (max-width: 750px) {
    .main-container {
        margin-top: 30%;
    }
} */

@media(max-width: 980px) {
    .location-box main {
        margin-top: 280px;
    }

    .location__box {
        top: 100px;
        right: 50% !important;
        transform: translateX(50%);
    }
}

@media(max-width: 600px) {
    .location__box {
        width: 95%;
    }
    .location__box p {
        font-size: 15px;
    }
}

@media (max-width: 1100px) {
    body {
        width: 100%;
        box-sizing: border-box;
    }
    .location__box {
        right: 30px;
    }
    .navbar34 {
        display: none;
    }
    .header-box {
        height: 40vh;
    }
    .main-title h1, .white-title, .section-title {
        font-size: 24px;
    }
    .shar {
        position: absolute;
        width: 30px;
        left: -11.5px;
        top: -5px;
    }
    .shar2 {
        position: absolute;
        width: 50px;
        right: 5%;
        display: none;
    }
    .header-up {
        font-size: 10px;
    }
    .header-bottom {
        display: none;
    }
    .navbar {
        display: flex !important;
    }
    .navbar-logo {
        width: 100px;
    }
    .navbar-toggler {
        padding: 2px 5px !important;
    }
    .navbar-dark .navbar-toggler{
        border: 2px solid #62BC9E !important;
        background: #62BC9E;
    }
    .offcanvas-body {
        text-align: center;
    }
    .offcanvas-header {
        border: none;
        text-align: center;
        background: #000000a6;
    }
    /* .modal {
        color: #000;
        margin-left: -12.5% !important;
        font-weight: 700; 
    } */
    .offcanvas {
        width: 80% !important;
        background-color: transparent !important;
        border: none !important;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    ul {
        padding: 0 !important;
    }
    .nav-item {
        padding: 12px 0;
        transition: all 0.5s ease-in-out;
    }
    .nav-item:hover{
        font-weight: 900;
        color: #62BC9E;
        background: #6a46ec71;
        border-radius: 15px;
        text-decoration: overline;
    }
    #btn {
        color: #000;
        padding: 10px 25px 10px 25px;
        border-radius: 10px;
        gap: 10px;
        background-color: #FFFFFF;
        transition: all 0.3s ease-in-out;
    }
    #btn:hover {
        background-color: #62BC9E;
    }
    #btn-secondary {
        color: #fff;
        background: #6e6e6e;
        border-radius: 10px;
        padding: 10px 25px 10px 25px;
        transition: all 0.3s ease-in-out;
    }
    #btn-secondary:hover {
        background: #333;
    }
    .about-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 35px;
    }
    .about-left-box {
        width: 100%;
        text-align: center;
        
    }
    .about-left-box h5 {
        text-align: center;
    }
    .about-left-box p, .location-box h6 {
        font-size: 12px;
        text-align: justify;
    }
    .about-title, .location-box h4 {
        font-size: 16px;
        /* width: 70%; */
    }
    .btn-more, .btn-course-more{
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        color: #000000;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        border: 2px solid #000000;
        background-color: #FFFFFF;
        transition: all 0.3s ease-in-out;
    }
    .btn-course-more {
        margin-bottom: 5%;
    }
    .section-our-prise h5 {
        text-align: center;
    }
    .green-title {
        text-align: center;
    }
    .course-body {
        text-align: center;
    }
    .course-body p {
        text-align: justify;
    }
    .grid {
        margin-bottom: 10%;
    }
    .course-body h6 {
        text-align: left;
    }
    .course-time {
        text-align: center !important;
    }
    .section-cours {
        height: min-content;
        text-align: center;
    }
    .btn-more {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .title-h3 {
        text-align: center;
    }
    .section-title, .white-title {
        text-align: center;
    }
    .section-location {
        margin-top: 0%;
    }
    .about-right-box {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .transparent-text {
        font-size: 46px;
    }
    .transparent-text, .about-back-img, .location-bg-img {
        width: 70%;
    }
    .about-right-box {
        margin-bottom: 15%;
    }
    .about-front-img {
        width: 100%;
        margin-top: -15%;
        margin-left: 0;
    }
    .about-back-img {
        width: 110%;
        margin-left: -10%;
    }
    .location-bg-img {
        width: 100%;
        margin-left: 0
    }
    .location-massage {
        display: none;
    }
    .location-box h6{
        align-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        margin-left: 10%;
    }
    .img-banner {
        display: none;
    }
    .mentr{
        margin-top: 40%;
        width: 110%;
        border-radius: 20px;
        height: auto;
        background-image: url('../img/mentr-bg.png');
        height: 20vh;
        box-shadow: 0px 18px 8px 0px rgba(0, 0, 0, 0.2);
        background-size: cover;
        background-position: center;
        position: relative;
        background-repeat: no-repeat;
        background-size: 110%;
        transition: background-size 1s ease-in-out;
    }
    .mentor-carousel-item {
        width: 250px;
        height: 80%;
    }
    .bottom-green-line {
        width: 30%;
    }
    .modal-dialog {
        max-width: 100% !important;
    }
    .grid-3 {
        grid-template-columns: 1fr;
        gap: 1%;
    }
    .title {
        font-size: 16px;
    }
    .row {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1%;
    }
    .row div {
        margin-left: 2.5%;
        width: 95%;
        margin-bottom: 2%;
    }
    .see-more {
        margin-top: 0%;
        margin-bottom: 3%;
        position: relative;
        margin-left: 75%;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
    .see-more:hover {
        margin-left: 77%;
        color: #62BC9E;
        gap: 30px;
    }
    .register-box {
        width: 100%;
        margin: 0;
        margin-top: 10%;
        margin-bottom: 20%;
        background-image: none;
        border-radius: 20px;
        border: 2px solid #afafaf;
    }
    .register-text {
        font-size: 26px;
    }
    .register-text-2 {
        color: #000 !important;
        font-size: 20px !important;
        width: 100%;
        margin-left: 0;
        margin-top: 5%;
    }
    .col-form-label {
        color: #000;
    }
    .form-control::placeholder {
        color: #777777 !important;
        font-size: 1em;
        font-weight: 400;
    }
    .register-box p {
        font-size: 8px;
        margin-left: 60%;
        margin-right: 10px;
    }
    .register-button {
        padding: 5px 15px 5px 15px;
        font-size: 16px;
        border-radius: 5px !important;
    }
    .footer-boxes {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8%;
    }
    .footer-p{
        font-size: 12px;
    }
    .footer-li{
        gap: 20px;
        text-align: left;
        font-size: 14px;
        align-content: center;
        padding: 5px;
        transition: all 0.5s ease-in-out;
    }
    .footer-li:hover{
        gap: 20px;
        text-align: left;
        font-size: 14px;
        align-content: center;
        padding: 5px;
        transition: all 0.5s ease-in-out;
    }
    .footer-img{
        width: 40px;
        height: 40px;
    }
    .new-left {
        width: 50px;
        height: 20px;
        font-size: 8px;
        background: #EA596E;
        color: white;
        border: none;
        right: 50%;
        position: absolute;
    }
    .new{
        width: 50px;
        height: 20px;
        font-size: 8px;
        background: #EA596E;
        color: white;
        border: none;
        right: 1%;
        position: absolute;
    }
    .footer-logo img {
        width: 80%;
    }
    .footer-time {
        font-size: 10px;
    }
    .footer-logo img:nth-child(2) {
        margin-top: 5%;
    }
    .footer-text {
        font-size: 14px;
    }
    .last-footer{
        margin-top: 20% !important;
        gap: 5%;
    }
    .last-footer p{
        font-size: 10px;
        color: #000;
    }
    .last-footer h4{
        font-size: 10px;
        width: 100%;
        margin-left: 0px;
    }
    .last-footer h6{
        font-size: 10px;
        font-weight: 700;
    }
    .location-text {
        position: absolute;
        margin: 0% 5%;
        transition: all 1s ease-in-out;
    }
    .location-logo {
        display: none;
    }
    .location-h1 {
        color: rgba(88, 88, 88, 0.25);
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        transition: all 1s ease-in-out;
    }
    .mentor-carousel {
        padding-bottom: 5%;
        height: min-content;
    }
    .location-carousel {
        gap: 2rem;
        margin-bottom: 15%;
    }
    .location-carousel img {
        width: 200px;
        height: 300px;
    }
    .banner {
        margin-bottom: 10%;
    }
    .white-title, .achkiy {
        font-size: 18px;
        padding: 5% 0 ;
    }
    .banner-textbox {
        width: 100%;
    }
    .banner-textbox p {
        font-size: 12px;
    }
    .grid { 
        grid-template-columns: 1fr 1fr 1fr;
        /* gap: 5%; */
    }
    .vertical-line, .grid-box-line{
        width: 3px;
        height: 20px;
    }
    .fact-item-number{
        font-size: 16px;
    }
    .grid-box h4 {
        font-size: 16px;
        margin-top: -10px;
    }
    .fact-text, .section-text, .section-our-prise p {
        font-size: 14px;
    }
    .section-our-prise p {
        margin-bottom: 10%;
    }
    .fact-item-text {
        font-size: 12px;
        font-weight: 400;
    }
    .btn-more {
        margin-top: 0;
        margin-bottom: 10%;
    }
    .lip{
        gap: 1.5rem;
    }
    
}
@media (max-width: 1640px) {
    .location-text {
        position: absolute;
        /* margin: 12% 5%; */
        transition: all 1s ease-in-out;
    }
}
@media (max-width: 1450px) {
    .location-text {
        position: absolute;
        /* margin: 12% 5%; */
        transition: all 1s ease-in-out;
    }
}
/*  */

/* Header flip */
#flip a {
    display: block;
    color:#ffffff;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 16px;
}
#flip {
    width: 100%;
    height: 50px;
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    background-image: linear-gradient(90deg, #6946EC, #F8C88A, #6946ec);
    overflow: hidden;
    justify-items: center;
    align-items: center;
    text-align: center;
}  
#flip {
    display: flex;
    align-items: center;
    justify-content: center;
}   
#flip span {
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    margin-left: 20px;
    display: inline-block;
    animation: moveSpan 3s infinite alternate;
}


@keyframes moveSpan {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(27px);
    }
}

@media (max-width: 1100px) {
    #flip a,
    #flip span  {
        font-size: 12px !important;
    }
}


.success__modal.active {
    display: block !important;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden !important;
}

.course__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

@media (max-width: 1400px) {
    .course__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1100px) {
    .course__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px) {
    .course__list {
        grid-template-columns: repeat(1, 1fr);
    }
}




